img{

    width: 200px ;
}

header img {
    width: 50px ;
}

header {
    background-image: url('./assets/movies/lights.jpg');
    background-size: cover;
    background-position: bottom;
}

.customCont {
    width: 90%;
    margin: auto;
}

.blueviolet {
    background-color: blueviolet !important;
    color: white;
}

.borderviolet {
    border-color: blueviolet !important;
}

* {
    font-size: small;
    font-style: italic;
    font-weight: 400;
}

.minh {
    min-height: 200px;
}

.posterw {
    max-height: 228px;
    min-height: 200px;
}

.absolute {
    position: absolute;
    bottom: 8px;
    left: 36px;
}

.relative {
    position: relative;
}